/*instagrid css**************************/

.photogrid-container {
  margin: 0 auto;
  width: 100%;
}

.photogrid {
  display: flex;
  flex-direction: row;;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 100%;
  img {
    max-height: 400px;
    max-width: 100%;
    flex: 0 1 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    position: relative;
  }
}

.photogrid-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  align-items: baseline;
  a{
  display: block;
  }
}

.metadata-block {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  width: 100%;
  height: 0px;
  bottom:0;
  z-index: 1;
  color: white;
  font-family: 'open_sans', sans-serif;
  display: flex;
  flex-direction: row;
  transition: height 1s;
  overflow: hidden;
}
.metadata-block-hover{
    height:70px;
}
.profile-picture {
  width: 33%;
  img {
    border-radius: 50%;
    max-width: 50px;
    margin-left: .6rem;
    margin-top: .6rem;
  }
}
.metadata-content {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  flex-direction: column;
  line-height: 1.5rem;
  padding-right: 1.3rem;
  padding-top: .7rem;
  position: absolute;
}
.username{
  text-align: right;
}
.fa-comments, .fa-heart {
  font-size: .9rem;
}

.sorry_msg {
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  max-height: 400px;
}
