/*CSS RESET*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END TEST */
/*FONTS*/

@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-bold-webfont.woff2') format('woff2'), url('fonts/opensans-bold-webfont.woff') format('woff'), url('fonts/opensans-bold-webfont.ttf') format('truetype'), url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-bolditalic-webfont.eot');
    src: url('fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-bolditalic-webfont.woff2') format('woff2'), url('fonts/opensans-bolditalic-webfont.woff') format('woff'), url('fonts/opensans-bolditalic-webfont.ttf') format('truetype'), url('fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    ;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-light-webfont.woff2') format('woff2'), url('fonts/opensans-light-webfont.woff') format('woff'), url('fonts/opensans-light-webfont.ttf') format('truetype'), url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    ;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-lightitalic-webfont.eot');
    src: url('fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-lightitalic-webfont.woff2') format('woff2'), url('fonts/opensans-lightitalic-webfont.woff') format('woff'), url('fonts/opensans-lightitalic-webfont.ttf') format('truetype'), url('fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
    ;
    /*BODY CSS*********************************/
}
html {
    background-color: black;
}
.header {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.logo img,
.form {
    max-width: 300px;
}
.logo img {
    margin-bottom: 1rem;
}
/*form*******************/

.form {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 2rem;
}
input {
    font-size: 16px;
    font-family: 'open_sans', sans-serif;
    border: 0;
    line-height: 2;
    background-color: black;
    color: white;
    padding-left: .7rem;
    /*order:2*/
}
input[type="text"]:focus {
    outline: none;
}
.fa {
    color: white;
    background-color: transparent;
    font-size: 1.25rem;
    border: none;
    font-weight: bold;
}
/*search button/magnifying glass icon***************/

.search-button {
    color: white;
    background-color: black;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    padding-left: 4rem;
}
.fa-search:hover {
    cursor: pointer;
    color: #e2231a;
    border: 0;
    outline: none;
}
.fa-search:after {
    border: 0;
    outline: none;
}
/*photogrid css**************************/

.photogrid-container {
    margin: 0 auto;
    width: 100%;
}
.photogrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 100%;

}
li img {
    max-height: 400px;
    max-width: 100%;
    flex: 0 1 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    position: relative;
}
.photogrid-container {
    position: relative;
}

.photogrid-container a{
  display: block;
}
.metadata-block {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    font-size: 1rem;
    width: 100%;
    height: 0px;
    bottom:0;
    z-index: 1;
    color: white;
    font-family: 'open_sans', sans-serif;
    display: flex;
    flex-direction: row;
    transition: height 1s;
    overflow: hidden;
}
.metadata-block-hover{
    height:70px;
}
.profile-picture {
    width: 33%;
}
.profile-picture img {
    border-radius: 50%;
    max-width: 50px;
    margin-left: .6rem;
    margin-top: .6rem;
}
.metadata-content {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  flex-direction: column;
  line-height: 1.5rem;
  padding-right: 1.3rem;
  padding-top: .7rem;
  position: absolute;
}
.username{
  text-align: right;
}
.fa-comments,
.fa-heart {
    font-size: .9rem;
}
/*footer**************************/

.footer {
    font-size: .9rem;
    color: #c2c2c2;
    font-family: 'open_sans', sans-serif;
    display: flex;
    height: 10vh;
    justify-content: center;
    padding-top: 3rem;
}
.footer span {
    text-transform: uppercase;
}
/*sizing break solution**************/

@media only screen and (min-width: 480px) {
    li {
        flex: 1 0 50%;
        flex-direction: row;
    }
}
/*******************tablet size*****************************************************/

@media only screen and (min-width: 600px) {
    .header {
        display: flex;
        flex: row-wrap;
        align-items: center;
        flex-direction: row;
    }
    .form {
        margin-left: 1rem;
        margin-top: 1.5rem;
    }
    .photogrid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        padding-top: 0px;
    }
    li {
        flex: 0 2 33.333333%;
    }
    .metadata-block {
        width: 100%;
        bottom:0;
    }
    .footer {
        text-size: 16px;
    }
}
/**************************desktop size*********************************************/

@media only screen and (min-width: 1000px) {
    .header {
        display: flex;
        flex: row-wrap;
        justify-content: flex-start;
        margin-left: 2.5rem;
    }
    .logo img {
        width: 500px;
        margin-bottom: 1rem;
    }
    .search-button {
        padding-left: 4.1rem;
    }
    /*photogrid*/

    .photogrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
    }
    li {
        flex: 0 2 25%;
    }

    /*footer*/

    .footer {
        display: flex;
        justify-content: flex-start;
        margin-left: 2.5rem;
    }
}
